streamUrl=http://developer.usa.gov/1usagov

jdbc.driverClassName=com.mysql.jdbc.Driver
jdbc.url=jdbc:mysql://localhost:3306/storm_trends
jdbc.username=root
jdbc.password=

embedlyApiKey=TODO

solrUrl=http://localhost:8983/solr/collection1
