<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:property-placeholder location="classpath:bigdatajumpstart.properties"/>
    <context:component-scan base-package="org.bigdatajumpstart.storm" />

    <bean id="oneUsaGovStreamingDataProvider" class="com.bigdatajumpstart.storm.OneUsaGovStreamingDataProvider">
        <property name="messageStream">
            <bean class="com.bigdatajumpstart.netty.HttpClient">
                <constructor-arg index="0" value="${streamUrl}"/>
            </bean>
        </property>
    </bean>

    <!--
    <bean id="localFileStream" class="com.bigdatajumpstart.storm.LocalFileMessageStream">
        <property name="path" value="/Users/thelabdude/dev/projects/storm-blog/sample.txt"/>
    </bean>
    -->

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
      <property name="messageConverters">
        <list>
          <bean id="messageConverter"
                class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
          </bean>
        </list>
      </property>
    </bean>

    <bean id="embedlyService" class="com.bigdatajumpstart.storm.EmbedlyService">
        <property name="apiKey" value="${embedlyApiKey}"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="persistRankingsBoltAction" class="com.bigdatajumpstart.storm.PersistRankingsBoltAction">
    </bean>

    <bean id="enrichLinkBoltAction" class="com.bigdatajumpstart.storm.EnrichLinkBoltAction">
    </bean>

    <bean id="solrServer" class="org.apache.solr.client.solrj.impl.ConcurrentUpdateSolrServer">
        <constructor-arg index="0" value="${solrUrl}"/>
        <constructor-arg index="1" value="10" type="int"/>
        <constructor-arg index="2" value="1" type="int"/>
    </bean>

    <bean id="solrBoltAction" class="com.bigdatajumpstart.storm.SolrBoltAction">
    </bean>

    <bean id="embeddedSolrServerFactory" class="com.bigdatajumpstart.storm.EmbeddedSolrServerFactory">
    </bean>

</beans>
